<div class="container align-items-center" style="height: 100vh;">
    <div class="row col-12 d-flex" style="margin-top: 20%;">
        <div class="col">
            <a routerLink="/form" style="text-decoration: none;"> 
                <div class="card justify-content-center align-items-center">
                    <div class="card-body">
                      RESPONDER ENCUESTA
                    </div>
                  </div>
            </a>
        </div>
    </div>
    <div class="row col-12 d-flex" style="margin-top: 5%;">
        <div class="col">
            <a routerLink="/results" style="text-decoration: none;"> 
                <div class="card justify-content-center align-items-center">
                    <div class="card-body">
                      VER RESULTADOS
                    </div>
                  </div>
            </a>
        </div>
    </div>
</div>