<div class="container">
  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let music of musics">
            <td>{{ music.id }}</td>
            <td><a href="mailto:{{ music.name }}">{{ music.name }}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
